@if (isAuthenticated){
<div>
    <header class="header bg-info p-4">
        <div class="fw-bold fs-4 text-start">
            Products
            <app-exit></app-exit>
            <button class="add-button btn btn-success fw-medium pull-right" type="submit" routerLink="/create-product">
                Add Product</button>
        </div>
    </header>



    <div #content>
        <p-table [value]="productList" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productUnitPrice }} ₺</td>
                    <td>{{ product.productUnitInStock }}</td>
                    <td>{{ product.total }} ₺</td>
                    <td>
                        <button type="button" class="btn-ed btn btn-warning" (click)="edit(product.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn-ed btn btn-danger" (click)="delete(product.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
        <button type="button" class="btn-download btn btn-secondary pull-right" (click)="downloadPDF()">Download List PDF</button>
    </div>
</div>
}

@else {
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto text-center p-4">
            <div class="alert alert-danger shadow-lg" role="alert">
                <h2 class="alert-heading text-uppercase text-decoration-underline">invalid !</h2>
                <p class="fs-6">You need to login again to view the list !</p>
                <div>
                    <button type="button" class="btn btn-light" routerLink="/login">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
}